In [62]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
games = pd.read_csv("CSV/games.csv")
df_reviews = pd.read_csv("CSV/user_reviews.csv")
df_items = pd.read_csv("CSV/user_items.csv")
data_steam = pd.read_csv("CSV/data_steam.csv")

In [31]:
games

,item_id,title,developer,release_date,price
0,761140,Lost Summoner Kitty,Kotoshiro,2018,4.99
1,643980,Ironbound,Secret Level SRL,2018,0.00
2,670290,Real Pool 3D - Poolians,Poolians.com,2017,0.00
3,767400,弹炸人2222,彼岸领域,2017,0.99
4,772540,Battle Royale Trainer,Trickjump Games Ltd,2018,3.99
...,...,...,...,...,...
26724,745400,Kebab it Up!,Bidoniera Games,2018,1.99
26725,773640,Colony On Mars,"Nikita ""Ghost_RUS""",2018,1.99
26726,733530,LOGistICAL: South Africa,Sacada,2018,4.99
26727,610660,Russian Roads,Laush Dmitriy Sergeevich,2018,1.99
26728,658870,EXIT 2 - Directions,"xropi,stev3ns",2017,4.99

In [26]:
df_reviews

                 user_id  item_id  recommend  year_posted  sentiment_analysis
0      76561197970982479     1250          1         2011                   2
1      76561197970982479    22200          1         2011                   2
2      76561197970982479    43110          1         2011                   1
3                js41637   251610          1         2014                   2
4                js41637   227300          1         2013                   1
...                  ...      ...        ...          ...                 ...
48493            wayfeng      730          1         2015                   1
48494  76561198251004808   253980          1         2015                   2
48495        72947282842      730          1         2015                   0
48496          ApxLGhost      730          1         2015                   2
48497  76561198267374962   369200          1         2015                   2

[48498 rows x 5 columns]

In [81]:
data_steam

,id,user_id,item_id,title,developer,release_date,price,recommend,year_posted,sentiment_analysis,playtime_forever
0,7656119797098247922200,76561197970982479,22200,Zeno Clash,ACE Team,2009.0,9.99,1,2011,2,271
1,765611979709824791250,76561197970982479,1250,Killing Floor,Tripwire Interactive,2009.0,19.99,1,2011,2,10006
2,js41637227300,js41637,227300,Euro Truck Simulator 2,SCS Software,2013.0,19.99,1,2013,1,551
3,js41637239030,js41637,239030,"Papers, Please",3909,2013.0,9.99,1,2013,1,349
4,evcentric107200,evcentric,107200,Space Pirates and Zombies,MinMax Games Ltd.,2011.0,9.99,1,2014,2,3225
...,...,...,...,...,...,...,...,...,...,...,...
30173,76561198239215706730,76561198239215706,730,Counter-Strike: Global Offensive,Valve,2012.0,14.99,1,2015,1,4659
30174,wayfeng730,wayfeng,730,Counter-Strike: Global Offensive,Valve,2012.0,14.99,1,2015,1,42740
30175,76561198251004808253980,76561198251004808,253980,Enclave,Starbreeze,2003.0,4.99,1,2015,2,1098
30176,72947282842730,72947282842,730,Counter-Strike: Global Offensive,Valve,2012.0,14.99,1,2015,0,33
30177,ApxLGhost730,ApxLGhost,730,Counter-Strike: Global Offensive,Valve,2012.0,14.99,1,2015,2,10121